<template>
  <div class="profile">
    {{ name }}
  </div>
</template>

<script>
export default {
  data () {
    return {
      name: 'Kresimir Plese'
    };
  }
};
</script>

<style>
.profile {
    background: #eee;
    border: 2px solid #aaa;
    border-radius: 6em;
    margin: 2em auto;
    min-height: 80px;
    padding: 2em;
    width: 300px;
}
</style>
